* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-image: url("./sprinkles.png");
}

h1 {
  color: #2A0800;
}

.catDiv, .dogDiv {
  margin: 30px;
}

ul {
  background-color: #BEA8A7;
  padding: 20px;
  list-style: none;
}

.tutorial {
  padding: 20px;
  background-color: #F4DBD8;

}

img {
  border: solid #775144;
}

button {
  padding: 5px;
  font-size: 20px;
  background-color: #C09891;
  border: solid #775144;
}

button:hover {
  cursor: pointer;
  background-color: #F4DBD8;
}
